@import "./mixins.scss";
@import "./nes-override.scss";

body {
  padding: 0 2rem 2rem;
}

header {
  @include small-up {
    display: flex !important;
    flex-direction: column;
  }

  @include medium-up {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
