@import "./media-queries.scss";
@import "./nes-override.scss";

body {
  padding: 0 2rem 2rem;
}

header {
  @include small {
    #install-button {
      position: absolute;
      display: block;
      right: 32px;
      top: 10px;
    }
  }

  @include medium-up {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

pwa-install::part(openButton) {
  display: none;
}
